# All packages come from the public NuGet Gallery
source https://api.nuget.org/v3/index.json

# Some packages (e.g. DotNet.Contracts) are built internally, and are not
# available from the Gallery.
source \\sydco-sdts-2.wtg.zone\ThirdParty\NuGet-HomeGrown

# Use a local cache in case a package gets deleted from the Gallery,
# or in case we lose our internet connection.
# NOTE: DAT Build Servers never have access to the Gallery.
cache \\sydco-sdts-2.wtg.zone\ThirdParty\NuGet-PaketCache

# This filters out extra supporting libraries from .NET Core that
# we don't care about (yet).
framework: net46

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "paket.exe add nuget<package> --no-install".
# Use "paket.exe update --no-install" to update paket.lock.
# Use "paket.exe restore" to update the package cache above
#
# DO NOT UPDATE paket.lock BY HAND!
#

nuget stylecop.analyzers
nuget WTG.BuildConfiguration.Build
nuget WTG.BuildConfiguration.Analysis
nuget WTG.DevTools.Common
nuget CommandLineParser 2.1.1-beta

nuget Microsoft.CodeAnalysis 1.3.2

nuget Microsoft.TeamFoundationServer.ExtendedClient >= 15.0
