[*.cs]
# These Roslyn Analyzer rules are designed for production grade projects, not for our little test stubs.
# Ignore these rules in the test project to avoid unnecessary noise.
dotnet_diagnostic.RS1036.severity = none
dotnet_diagnostic.RS1038.severity = none
dotnet_diagnostic.RS1041.severity = none
dotnet_diagnostic.RS2008.severity = none

# 'TypeName' is an internal class that is apparently never instantiated
# This is firing on NUnit types, which the runner does instantiate.
# We could make them public, but that would conflict with CA1515, which
# tells us to make application types internal.
dotnet_diagnostic.CA1812.severity = none