[*.cs]
# These Roslyn Analyzer rules are designed for production grade projects, not for our little test stubs.
# Ignore these rules in the test project to avoid unnecessary noise.
dotnet_diagnostic.RS1036.severity = none
dotnet_diagnostic.RS1038.severity = none
dotnet_diagnostic.RS1041.severity = none
dotnet_diagnostic.RS2008.severity = none